$Schrift: rgb(228, 228, 228);
$Navleiste: #044900;
$Navleiste_marked: #055f00;
$NavLeiste_Logo: #078300;
$Footerleiste: #034200;
$NavSchrift: #ffa826;
$NavSchrift_marked: #ffd05b;
$Rahmen: rgb(158, 158, 158);
$SplashBG-Color: #078300;
